@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

/*Styling the scrollbar*/
*{
    scrollbar-width: thin;
    scrollbar-color: #373a69 #0a0c1b;
}
  
*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: #22254b;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #373a69;
    border-radius: 10px;
    border: 2px solid #0a0c1b;
}

body{
    background-color: #22254b;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
}

/*Styling the menu*/
.header{
    position: relative;
    height: 50px;
    width: 100px;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #22254b;
}

.header .navbar{
    display: flex;
    height: 100%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 0;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
}

.header .navLinks{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 1;
    left: -100%;
    top: 90px;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    transition: .3s;
}

.navLinks.active{
    left: 0;
    margin-top: 50px;
    top: 0;
}

.navLinks.active ul{
    width: 100px;
}

.navLinks a{
    color: whitesmoke;
    text-decoration: none;
}

.navLinks a:hover{
    padding: 4px;
    border-bottom: 1px solid whitesmoke;
}

.header .navItem{
    list-style-type: none;
    padding: 1rem;
    font-weight: 500;
    margin: 1.5rem 0;
}

.toggled{
    display: block;
}

/*Styling the homepage*/
.category{
    width: auto;
    height: 600px;
}

.homepage header{
    height: 50px;
    background-color: #22254b;
    padding: 0.6rem;
    display: flex;
    justify-content: flex-start;
}

header input{
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #0a0c1b;
    font-size: 1.1rem;
    padding-left: 10px;
    color: whitesmoke;
}

.homepage h1{
    margin-left: 1rem;
    margin-bottom: 0;
    font-weight: 300;
}

.category .movieRow{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/*Styling the movieCard component*/
.movieCard{
    height: 500px;
    width: 300px;
    margin: 1rem;
    font-weight: 400;
    border-radius: 3px;
    background-color: #373a69;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 0.9em;
}

.movieCard h4{
    font-weight: 600;
    text-align: left;
}

.movieCard img{
    height: 440px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.movieCard a{
    text-decoration: none;
    color: whitesmoke;
}

.movieCard .movieInfo{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: space-between;
    height: 50px;
}

.movieCard .color{
    background-color: #22254b;
    padding: 0.25rem;
}

.color.green{
    color: green;
}

.color.orange{
    color: orange;
}

.color.red{
    color: red;
}

.movieCard:hover{
    scale: 1.03;
    transition: 0.2s;
}

.results{
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/*Styling the movieDetails components*/
.movieDetails{
    height: 100vh;
    width: auto;
    color: whitesmoke;
}

.details{
    height: 70vh;
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.details .detailsImg{
    float: left;
    margin-left: 4rem;
    margin-right: 3rem;
}

.detailsImg img{
    height: 650px;
    width: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.detailsInfo{
    float: right;
    align-items: left;
    margin-right: 1rem;
}

.detailsInfo h1{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 350;
}

.detailsInfo h4{
    font-size: 0.95rem;
    max-width: 800px;
    font-weight: 250;
}

.detailsInfo p{
    font-weight: 400;
}

.detailsInfo span{
    font-weight: 100;
}

.detailsInfo button{
    border-radius: 10px;
    border: 2px #373a69 solid;
    width: 80px;
    height: 30px;
    background-color: #6a6dad;
    opacity: 0.95;
    margin-right: 5px;
    font-size: 15px;
    color: whitesmoke;
}

.detailsInfo button:hover{
    scale: 1.1;
}

/*Styling the watched, toWatch and favourite components*/
.movieList h1{
    font-weight: 300;
    margin-left: 1rem;
}

.movieList div{
    display: flex;
}

/*Styling for mobile devices*/
@media screen and (max-width:820px){
    .details .detailsImg{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .detailsImg img{
        height: 550px;
    }  
}

@media screen and (max-width:820px){
    .details{
        height: 55vh;
    }
    .detailsImg img{
        height: 450px;
    }  

    .detailsInfo button{
        width: 70px;
        height: 30px;
        font-size: 12px;
        color: whitesmoke;
    }
}

@media screen and (max-width:820px){
    .details{
        flex-direction: column;
        height: auto;
    }
}