body{
    background-color: rgb(25, 25, 107);
    margin: 0;
    padding: 0;
}

.homepage{
    min-width: 100%;
    width: auto;
    height: auto;
    color: whitesmoke;
}

.category{
    width: auto;
    height: 600px;
}

.category .movieRow{
    display: flex;
    overflow-y: auto;
    flex-wrap: nowrap;
}

.movieCard{
    height: 500px;
    width: 300px;
    margin: 20px;
    border-radius: 15px;
    background-color: rgb(75, 83, 90);
    text-align: center;
    font-size: 0.9em;
}

.movieCard img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 430px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.movieCard a{
    text-decoration: none;
    color: whitesmoke;
}

.results{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.movieDetails{
    height: 100vh;
    width: auto;
}


